<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Refactory </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="bg-black p-4 text-white flex gap-2">
        <ol class="text-red-500 font-semibold"><a href="/"></a> Home  </ol>
        <ol><a href="/courses"> Courses </a></ol>
        <ol><a href="/partners"> Partners </a></ol>
        <ol><a href="/about"> About Us </a></ol>
        <ol><a href="/contacts">Contacts </a></ol>
    </nav>
</body>
</html>